* {
    box-sizing: border-box;
    margin: 0;
    color: white;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}

button {
    border: none;
    outline: none;
}

.white-opacity-20 {
    background-color: rgba(255, 255, 255, 0.3);
}

.grey-icon-bg {
    background-color: #333333;
}

.container {
    display: flex;
}

.date,
.seat-container {
    height: 100vh;
    width: 100vw;
    background-color: lightblue;
    position: relative;
}

.date {
    background-image: url(/assests/image/aquaman.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-color: black;
    position: relative;

}

.seat-container {
    background-color: #091322;
}

.d-none {
    display: none
}

.content-container {
    height: 71%;
    width: 100%;
    display: flex;
    flex-direction: column;
    position: absolute;
    bottom: 0px;
    left: px;
    text-align: center;
    padding: 6.1875rem 2.125rem 3.125rem 2.125rem;
    background-image: linear-gradient(0deg, black 40%, #091322, transparent);

}

.content-container h1 {
    font-size: 1.5rem;
    font-weight: 700;
}

.content-container h2 {
    font-size: 1.3rem;
    margin-bottom: 1rem;
    font-weight: 500;
}

.content-container p {
    margin-bottom: 1.125rem;
    height: 6.625rem;
    font-size: 0.875rem;

}

#text-more,
#read-less {
    display: none;
}

#read-more,
#read-less {
    cursor: pointer;
}

.content-container h4 {
    font-size: 1.5rem;
    font-weight: 300;

}

.primary-button {
    padding: 3px;
    border-radius: 33px;
    background: linear-gradient(to right, #4fbecd 45%, #194257, #0b1322);
    font-size: 1.125rem;
}

.primary-button>div {
    height: 100%;
    width: 100%;
    text-align: center;
    border-radius: 33px;
    padding: 13px 0px;
    background: linear-gradient(129deg, #2b788e, #102336);
}

/* #booking-slider{
 height: 22.5rem;
   
} */
.booking-container {
    display: flex;
    justify-content: space-between;
    align-items: end;
    gap: 1.25rem;
    margin-top: 1.3125rem;
    margin-bottom: 2rem;
    transition: transform 0.1s linear;
    transform: translateX(0);
    overflow-x: hidden;
    height: 10rem;

}

/* .booking-container::-webkit-scrollbar{
    display: none;
}  */
.booking-container.dragging {
    scroll-behavior: auto;
}

.booking-container.dragging .booking-item {
    /* scroll-snap-type:none;
    scroll-snap-align: start; */
    cursor: grab;
    user-select: none;
}

#prev,
#next {
    position: absolute;
    color: white;
    font-family: cursive;
    font-size: 50px;
    background-color: transparent;
    bottom: 28%;
    left: 4%;
    opacity: 0.5;
}

#next {
    left: unset;
    right: 0%;
}

#next:hover,
#prev:hover {
    opacity: 1;
}

.booking-item.up-one {
    margin-bottom: 1.125rem;
   
}

.booking-item.up-two {
    margin-bottom: 2.5625rem;
    
}

/* .booking-item:first-child,
.booking-item:nth-child(5) {
    margin-top: 2.5625rem;
}*/

/* .booking-item:nth-child(3) {
    margin-bottom: 2.5625rem;
}

.booking-item:nth-child(2),
.booking-item:nth-child(4) {
    margin-bottom: 1.125rem;
}  */

.booking-date {
    width: 3.75rem;
    height: 4.375rem;
    font-size: 1rem;
    border-radius: 6px;
    padding: 1px;
    margin-bottom: 0.75rem;
    background: linear-gradient(129deg, #4fbecd, #102336);
    line-height: 1.5rem;

}

.booking-date>div {
    width: 100%;
    height: 100%;
    border-radius: 6px;
    background: #0b1322;
    padding: 0.6875rem 0.5rem;
}

.booking-date .booking-active {
    background: linear-gradient(130deg, #2b788e 40%, #102336);
}

.booking-time {
    width: 3.75rem;
    height: 2.125rem;
    font-size: 1rem;
    text-align: center;
    border-radius: 6px;
    padding: 1px;
    background: linear-gradient(129deg, #4fbecd, #102336);
}

.booking-time>div {
    width: 100%;
    height: 100%;
    border-radius: 6px;
    background: #0b1322;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* -------- SEAT SCREEN ---------- */
.nav-bar {
    display: flex;
    padding: 2.5rem 1.5rem 1.25rem 1.5rem;
    justify-content: space-between;
    align-items: center;
}

.nav-bar p {
    font-size: 1.125rem;
    font-weight: 600;
}

.nav-icon-container {
    width: 36px;
    height: 36px;
    padding: 1px;
    background: linear-gradient(120deg, #4fbecd, transparent);
    border-radius: 100%;
}

.nav-icon-container>div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    border-radius: 100%;
}

#prev-button {
    display: none;
}

.cross-line-mobile {
    border-top: 1px solid rgba(255, 255, 255, 0.3);
    margin: 0 1.5rem;
}
.cross-line-desktop{
    display: none;
}
.red-curve-line {
    margin: 3.8rem 0 3.5rem 0;
}

.red-curve-line path {
    filter: drop-shadow(1px 1px 3px #00FFE0);
}

.seat-picker {
    padding: 0 2.375rem 0;
}

.seat-row {
    display: flex;
    gap: 10px;
    margin-bottom: 1.25rem;
    justify-content: center;
}

.seat-picker>.seat-row:nth-child(2) {
    margin-bottom: 1.875rem;
}

.seat-row>.seat-row {
    margin-bottom: 0;
}

.justify-between {
    justify-content: space-between;
}

.justify-around {
    justify-content: space-around;
}

.d-flex {
    display: flex;
}

svg,
path {
    pointer-events: none;
}

.seat.unavailable path {
    fill: #FF413C;
}

.seat.selected path {
    fill: #00FFE0;
}

.seat-description {
    display: flex;
    justify-content: space-between;
    margin: 0 3.5625rem;
    font-size: 1rem;
    font-weight: 500;
}

.dot-icon {
    font-size: 2.5rem;
}

.availability {
    display: flex;
    align-items: center;
    gap: 0.375rem;
}

.seat-description>.availability:nth-child(2)>i {
    color: #FF413C;
}

.seat-description>.availability:nth-child(3)>i {
    color: #00FFE0;
}

/* -------- SEAT SELECTED DESCRIPTION --------*/
.seat-selected-description {
    background: linear-gradient(129deg, #2b788e, #102336);
    height: 25%;
    width: 100%;
    position: fixed;
    bottom: 0;
    display: flex;
}

.seat-selected-description>div:first-child {
    width: 75%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1.25rem;
    padding-left: 3.25rem;
}
.seat-selected-description>div:first-child>button{
    display: none;
}
.seat-selected-description>div:last-child {
    width: 25%;
    display: flex;
    align-items: center;
}

.single-booking-description {
    display: flex;
    gap: 0.5rem;
    align-items: center;

}

.seat-icon {
    width: 1.25rem;
    height: 1rem;
}

.calender-icon {
    width: 1.25rem;
    height: 1.25rem;
}

.cart-icon {
    width: 1.4375rem;
}

.book-button-background {
    width: 100%;
    background-color: black;
    padding: 1rem;
    border-radius: 100% 0 0 100%;
}

.book-button-background>div {
    height: 4.3125rem;
    width: 4.3125rem;
    border-radius: 100%;
    background: linear-gradient(120deg, #4fbecd, transparent);
    display: flex;
    justify-content: center;
    align-items: center;
}

.book-button-background button {
    height: 4.1875rem;
    width: 4.1875rem;
    border-radius: 100%;
    background-color: #4fbecd;
    display: flex;
    justify-content: center;
    align-items: center;

}

.book-button-background button:disabled {
    background-color: #333333;
}

/* MODAL */
.modal { 
    display: none;   
    position: fixed;   
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    max-width: 25rem;
    width: 90vw;
    min-height: 12.5rem;  
    border-radius: 1rem;
}

.modal-content {
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
    width: 100%; 
    height: 12.5rem;
    
   
}
.modal-content h3{
    color: black;
}
#yes-btn, #no-btn{
    width: 6rem;
}

@media only screen and (min-width: 768px) {
    .d-none {
        display: initial;
    }

    #reserve-button,
    #back-button {
        display: none;
    }
    #prev-button{
        display: block;
    }
    .date {
        width: 27rem;
        flex-shrink: 0;
    }

    .date .nav-bar {
        display: none;
    }

    .content-container h4 {
        display: none;
    }

    .content-container {
        flex-direction: column-reverse;
    }
    .seat-picking-area{
       max-width: 25rem;
       margin: 2.5rem auto;
       
    }
    .cross-line-desktop {
        display: block;
        border-top: 1px solid rgba(255, 255, 255, 0.3);
        margin: 0 1.5rem;
    }
    .cross-line-mobile{
        display: none;
    }
    .seat-selected-description {
        background: none;
        height: 25%;
        width: 100%;
        position: absolute;
        bottom: 0;
        right: 0;
        display: flex;
    }
    .seat-selected-description>div:first-child {
        padding: 50px;
        width: 100%; 
        align-items: center; 
              
    }
    .seat-selected-description>div:first-child>button{
        display: block;
        width: 22rem;       
    } 
    .seat-selected-description>div:first-child>.primary-button:disabled >div{      
        background: linear-gradient(129deg, #f0f4f5, #102336);
    }

    .seat-selected-description>div:last-child {
       display: none;
    }
    .modal{
        display: none;
    }
}