.ticket {
    height: 100vh;
    width: 100vw;
    background: linear-gradient(180deg, #194257, black);
}

.ticket-description {
    text-align: center;
    padding: 1.5rem 3.875rem;
}

.ticket-description p {
    font-size: 1rem;
    line-height: 1.6rem;
}

.ticket-slider {
    width: 17.75rem;
    height: 32.6875rem;
    background-color: none ;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    position: relative;
}

.masked-image {   
    width: 17.75rem;
    height: 32.6875rem;
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-image: url(/assests/image/ticket-clippath.png);
    mask-image: url(/assests/image/ticket-clippath.png);
    -webkit-mask-position: center;
    mask-position: center;
    /* border: 1px solid  #4fbecd; */
    border-radius: 30px;
   
}

.masked-image:first-child {   
    position: absolute;
    top: 0;
    background-color: rgba(255, 255, 255, 0.85);    
    z-index: 10;
}

.masked-image:nth-child(2) {    
    position: absolute;
    bottom: -28px;
    -webkit-mask-size:92%;
    mask-size:92%;
    background-image: url(/assests/image/drStrange.png);
    z-index: 5;
    transform: rotate(9deg);
    transform-origin: bottom right;
}
.masked-image:nth-child(3) {    
    position: absolute;
    bottom: 15px;
    -webkit-mask-size:92%;
    mask-size:92%;
    background-image: url(/assests/image/drStrange.png);
    z-index: 0;
    transform: rotate(-9deg);
    transform-origin: bottom right;
}
.movie-image {
    height: 70%;
    border-bottom: 2px dashed rgb(25, 66, 87, 0.5);
    background: url(/assests/image/aquaman.png) no-repeat center;
    background-size: cover;
    
}

.ticket-detail {
    height: 30%;
    margin: 1.375rem 3.125rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.75rem;
}

#date p,
#time p {
    color: black;
}

.screen-time {
    display: flex;
    justify-content: space-between;
    font-size: 0.75rem;
    font-weight: 600;
    gap:1.25rem;

}

#date>p:first-child,
#time>p:first-child {
    margin-bottom: 1rem;
}

.dot-container{
    display: flex;
    justify-content: center;
    margin-top: 1.875rem;
    gap: 0.75rem;

}
.dot{
    width: 0.5rem;
    height: 0.5rem;
    background-color: rgb(255, 255, 255, 0.25);
    border-radius: 50%;
}
.dot:hover, .active{
    background-color: rgb(255, 255, 255, 0.8);
}
.bottom-nav{
    width: 100%;
    height: 6.25rem;
    background: linear-gradient(to bottom, #194257 0%, rgb(105, 0, 0, 0) 100%);
    position: fixed; 
    bottom: 1.25rem;    
    display: flex;
    justify-content: center;
    gap: 2.875rem;
    border: 1px solid rgb(255, 255, 255,0.2);
}
.nav-item{
    margin-top: 1.875rem;
}
.nav-item:nth-child(3){
width: 5rem;
height: 5rem;
background: linear-gradient(to bottom, rgb(43, 120, 142, 0.8) 0%,rgb(43, 120, 142,0) 60%);
border-radius: 50%;
border: 2px solid  rgb(79, 190, 205, 0.8);
margin-top: -1rem;
padding: 2px;
display: flex;
justify-content: center;
align-items: center;
}
/* .nav-item:nth-child(3)>div{
    width: 100%;
    height: 100%;
    background: linear-gradient(rgb(43, 120, 142, 0.21) 0%,rgb(43, 120, 142,0) 100%);
    border-radius: 50%;   
    display: flex;
    justify-content: center;
    align-items: center;
    } */